{% extends "base.html.twig" %}
{% block title %}Sortir - ENI - Accueil{% endblock %}

{% block body %}

    <button class="btn btn-outline-primary">
        <a style="text-decoration: none; color: black" href="{{ url('event_create') }}">Créer un événement</a>
    </button>
{% endblock %}

